<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.myapplication.MyMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver
                android:name=".MyBroadcastReceiver1"
                android:enabled="true"
                android:exported="true">
            <intent-filter android:priority="4">
                <action
                        android:name="com.nar_unified_api.ACTION_APPLY_BEFORE_TRANSACTION"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".MyBroadcastReceiver2"
                android:enabled="true"
                android:exported="true">
            <intent-filter android:priority="4">
                <action android:name="com.nar_unified_api.ACTION_APPLY_PAYMENT"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".MyBroadcastReceiver3"
                android:enabled="true"
                android:exported="true">
            <intent-filter android:priority="4">
                <action android:name="com.nar_unified_api.ACTION_APPLY_E_RECEIPT"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".MyBroadcastReceiver4"
                android:enabled="true"
                android:exported="true">
            <intent-filter android:priority="4">
                <action android:name="com.nar_unified_api.ACTION_APPLY_AFTER_TXN"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>